<section cg-busy="ctrl.isLoading">
    <h1>Questions</h1>

    <div>
        <button class="btn btn-info" ng-click="ctrl.refreshQuestions()">Refresh</button>
        <a class="btn btn-info" role="button" ui-sref="addNewQuestion">Create new question...</a>
    </div>

    <hr/>

    <ul style="list-style: none;">
        <li data-ng-repeat="question in ctrl.questions track by question.questionId">
            <a ui-sref="editQuestion({ questionId: question.questionId })">Edit...</a>
            <span>Question: {{question.questionText}}</span>
            <ul>
                <li data-ng-repeat="answer in question.answers track by answer.answerId">
                    <span>Answer: {{answer.answerText}}</span>
                    <span ng-show="answer.answerId == question.correctAnswerId"><strong>[correct-one]</strong></span>
                </li>
            </ul>
            <hr />
        </li>
    </ul>

    <div ng-show="ctrl.loadError" class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Ooops</h3>
        </div>
        <div class="panel-body">{{ctrl.loadError}}</div>
    </div>

</section>